@font-face {
  font-family: "Quicksand";
  src: url("../../font/Quicksand/static/Quicksand-Regular.ttf");
  font-family: "Itim";
  src: url("../../font/Itim/Itim-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../font/Roboto/Roboto-Regular.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-image: url("../../image/background-page/backgroiund-page.png");
  background-size: cover;
  background-attachment: fixed;
}
h3 {
  font-size: 25px;
  color: #eff8fe;
}
.animation-top-bottom-menu {
  position: relative;
  animation-name: animation-top-bottom-menu;
  animation-duration: 0.2s;
}

@keyframes animation-top-bottom-menu {
  0% {
    top: -60px;
  }
  100% {
    top: 0%;
  }
}

.menu-scroll {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.body {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}
.menu-phone-open {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100vh;
  background-color: #000000f5;
}
.menu-phone-open div {
  text-align: center;
  margin-top: 30px;
}
.menu-phone-list {
  font-size: 18px;
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
.menu-phone-list:hover {
  color: beige;
}
.close-menu-mobile {
  text-align: right;
  font-size: 36px;
  color: beige;
}
.background-header-img {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 150px;
  margin-top: 0px;
}
.background-header {
  background-color: #2e2e2e;
}
.menu-header {
  text-align: center;
  padding: 9px;
}
.logo-header {
  width: 70px;
  margin: 5px 0px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/* menu desktop */
.menu-desktop {
  width: 100%;
  background-color: #282828;
  font-weight: 500;
  box-shadow: rgb(255 255 255 / 11%) 0px 5px 7px;
}
.menu-desktop-list {
  display: inline-flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  color: #fff;
}
.menu-desktop-list li {
  cursor: pointer;
  margin: 0px 15px;
  font-family: sans-serif;
}
.menu-desktop-list li a {
  color: rgb(230, 214, 190);
  text-decoration: none;
  font-family: "Itim", cursive;
  font-size: 20px;
}
.menu-desktop-list li a:hover {
  color: #eff8fe;
}

@media screen and (max-width: 991px) {
  .logo-header {
    width: 70px;
  }
}
.shopcart-phone {
  display: none;
}
.menu-phone {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu-desktop {
    display: none;
  }
  .menu-phone {
    display: inline;
    font-size: 33px;
    cursor: pointer;
    position: fixed;
    right: 7px;
    top: 10px;
    color: #efe4bb;
    z-index: 100;
  }
  .menu-phone:hover {
    color: #ffffff;
  }
  .shopcart-phone {
    display: inline;
    font-size: 33px;
    cursor: pointer;
    position: fixed;
    color: #ffffff;
    z-index: 99;
    bottom: 94px;
    right: 28px;
    background: #f15a5b;
    padding: 2px 8px;
    border-radius: 42px;
  }
}
.product-header {
  margin-top: 150px;
}

/* foodter */
#contact {
  background-image: url("/image/background-foodter/1.png");
  color: black;
}
.background-foodter-img {
  background-color: #2e2e2e91;
  min-height: 100vh;
  padding: 12em 0px;
}
@media screen and (max-width: 575px) {
  .background-foodter-img {
    background-color: #00000052;
    min-height: 100vh;
    padding: 0px 0px;
  }
}
.background-foodter {
  min-height: 100vh;
  background-position: bottom;
  background-attachment: fixed;
}

.box-left-contact {
  color: aliceblue;
  font-size: 17px;
  background-color: #181818;
}

.box-form-contact {
  background-color: #c6c6c6d9;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  font-weight: 400;
}

.icon-map-contact {
  padding: 15px 17px;
  border: 2px solid;
  border-radius: 50px;
  margin-right: 22px;
}

.icon-contacts {
  padding: 15px 15px;
  border: 2px solid;
  border-radius: 50px;
  margin-right: 22px;
}

.text a {
  color: #ffffff;
  text-decoration: none;
}

.mg-bt-17 {
  margin-bottom: 17px;
}

.contactForm .form-control {
  border: none;
  padding: 8px;
  margin-top: 20px;
  background-color: #ffffff;
  color: aliceblue;
}

.button-contact-foodter {
  background-color: #ff6b5d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button-contact-foodter:hover {
  transition: 0.3s;
  color: #ffffff;
  border: none;
  border: 0px solid;
  transform: translate(0px, -3px);
}

.foodter {
  text-align: center;
  padding: 10px;
  color: #eff8fe;
  background-color: #181818;
}

/* icon */
.background-icon {
  background-color: #2e2e2e;
  padding: 10px 0px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}
.icon-bottom {
  text-align: center;
  font-size: 20px;
  color: #b1afaf;
  font-weight: 600;
}
.img-icon-bottom {
  width: 120px;
}

.box-contact-icon-right {
  border: 2px solid #f15a5b;
  border-radius: 21px;
  padding: 30px 10px;
  font-size: 20px;
  color: #b1afaf;
  font-weight: 600;
}
.icon-contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-contact-right span {
  margin-right: 20px;
}
@media screen and (max-width: 991px) {
  .icon-bottom {
    font-size: 13px;
  }
  .box-contact-icon-right {
    font-size: 13px;
    margin-top: 10px;
  }
}
/* goto cart */
.shop-cart-header {
  background-color: #e34032;
  color: aliceblue;
  padding: 5px 28px;
  cursor: pointer;
}
.shop-cart-header:hover {
  background-color: #ff1500;
}
@media screen and (max-width: 991px) {
  .shop-cart-header {
    padding: 8px 15px;
  }
  .menu-desktop-list li a {
    font-size: 17px;
  }
  .menu-desktop-list li {
    padding: 0px;
  }
}
/* cart list dektop */
.list-cart {
  width: 300px;
  min-height: 100px;
  background-color: #000000bd;
  border-radius: 20px;
  padding: 20px;
  border-bottom: 2px solid white;
  display: flex;
}
.img-list-cart {
  width: 95px;
}
.info-list-cart {
  flex-grow: 1;
  margin-left: 20px;
}
.quantity-list-cart {
  color: white;
}
.title-list-cart {
  color: white;
  font-weight: 800;
}
.price-list-cart {
  color: #ff3e3e;
  font-weight: bold;
}
.cart-list-desktop {
  position: absolute;
  z-index: 1000;
  top: 51px;
  right: -2px;
  font-size: 16px;
}

/* list cart phone */
.cart-list-phone {
  position: fixed;
  z-index: 1000;
  right: 0px;
  bottom: 155px;
}
/* advertisement-banner-img */
.advertisement-banner-img {
  width: 100%;
}
/* list product */
.evaluate {
  color: yellow;
}
.list-product {
  margin: 40px 0px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .list-product {
    margin-top: 20px;
  }
}
.title-related-products {
  font-weight: 700;
  font-size: 29px;
  margin: 20px 0px;
  border-top: 1px solid #7c7c7c;
  padding-top: 20px;
}
.related-products {
  margin: 30px 0px;
}
.related-product {
  width: 100%;
}
.box-content-related-product {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.list-related-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-related-products {
  margin-top: 20px;
  width: calc(calc(100% / 4) - 15px);
  color: white;
  border-radius: 11px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-image: url("../img/background/black-texture_1205-327.jpeg");
}
.box-related-products:hover {
  box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media screen and (max-width: 1400px) {
  .box-related-products {
    width: calc(calc(100% / 3) - 10px);
  }
}
@media screen and (max-width: 991px) {
  .box-related-products {
    width: calc(calc(100% / 2) - 10px);
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .order-phone {
    order: 1;
    max-width: 500px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .box-related-products {
    width: calc(100% / 1);
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
.img-related-products {
  width: 100%;
}
.sale-related-products {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #ff5a59;
  padding: 2px 25px;
}
.title-product-realated {
  font-size: 22px;
  text-align: center;
}
.price-product-realated {
  color: #ff5a59;
  font-size: 22px;
  font-weight: 500;
  margin-top: auto;
}
.price-product-realated del {
  color: #a8a8a8;
  font-size: 16px;
}
.product-button-shop {
  background: #f44335;
  color: #fff;
  border: none;
  position: relative;
  height: 42px;
  transition: 800ms ease all;
  outline: none;
  width: 111%;
  font-size: 25px;
  margin: 0px -14px;
  margin-bottom: -10px;
  margin-top: 10px;
}
@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .product-button-shop {
    width: 130%;
    margin: 0px -40px;
    margin-bottom: -10px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .product-button-shop {
    width: 116%;
  }
}
.product-button-shop:hover {
  background: #ffffff00;
  color: #ffffff;
}
.product-button-shop:before,
.product-button-shop:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #ffffff;
  transition: 400ms ease all;
}
.product-button-shop:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.product-button-shop:hover:before,
.product-button-shop:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.pagination {
  display: inline-block;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.pagination a {
  color: rgb(255, 255, 255);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  display: inline;
}
.pagination a.active {
  background-color: #e34031;
  color: white;
  border-radius: 5px;
}
.pdr-0 {
  padding-right: 0px;
  padding-left: 25px;
}
@media screen and (max-width: 991px) {
  .pdr-0 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
/* // filter */
.box-filter {
  display: flex;
}
.filter-sale-product {
  margin-left: 10px;
  color: white;
}
@media screen and (max-width: 500px) {
  .box-filter {
    display: flex;
    flex-direction: column;
  }
  .filter-sale-product {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.filter-sale-product button {
  border: none;
  border-radius: 18px;
  background-color: #f04334;
  color: #ffffff;
  margin-top: 5px;
}
.filter-sale-product button:hover {
  background-color: #ff1500;
}
.filter {
  border-bottom: 1px solid #878787;
  padding-bottom: 10px;
}
#woocommerce-ordering select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 26px;
  width: 200px;
}
option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
/* search  */
.md-form {
  position: relative;
}
.formSearch {
  justify-content: end;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .formSearch {
    justify-content: left;
  }
}
.formInput {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #ffffff;
}
.btn-search {
  color: aliceblue;
  font-size: 19px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .formInput {
    margin-top: 20px;
  }
  .btn-search {
    color: aliceblue;
    font-size: 19px;
    cursor: pointer;
    margin-top: 20px;
  }
}

/* product-left */
.advertisement {
  width: 100%;
  margin-top: 15px;
}
/* product-selling */
.title-selling-product {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #787878;
  margin-top: 34px;
  font-weight: bold;
}
.selling-products {
  color: #fff;
}
.img-product-selling {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.box-product-selling {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  border-bottom: 2px solid rgb(153, 153, 153);
  background-image: linear-gradient(358deg, #565656 0%, #1f1f1f 74%);
}
.name-product-selling {
  font-size: 20px;
}
.box-price-selling {
  font-size: 14px;
  color: #9d9d9d;
  text-align: left;
}
.box-price-selling div {
  font-size: 20px;
  color: #f15a5a;
  font-weight: 600;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .box-price-selling div {
    font-size: 16px;
  }
}
.evaluate-selling {
  font-size: 15px;
  color: yellow;
}
/* btn home */

.btn-home {
  position: fixed;
  z-index: 1000;
  color: #8b8b8b;
  font-size: 49px;
  bottom: 80px;
  right: 32px;
  cursor: pointer;
}
.btn-home:hover {
  color: #f0f0f0;
}
@media screen and (max-width: 768px) {
  .btn-home {
    bottom: 140px;
  }
}
